//通用样式

//字体大小
.fontsize-12 {
  font-size: 12px;
}

.fontsize-16 {
  font-size: 16px;
}

.fontsize-20 {
  font-size: 20px;
}

.fontsize-24 {
  font-size: 24px;
}

.fontsize-36 {
  font-size: 36px;
}

.fontsize-48 {
  font-size: 48px;
}

.fontsize-96 {
  font-size: 96px;
}

//margin
.mr4 {
  margin-right: 4px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}


.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mt40 {
  margin-top: 40px;
}

.mb40 {
  margin-bottom: 40px;
}

.ml40 {
  margin-left: 40px;
}

.mr40 {
  margin-right: 40px;
}

//width
.w-per10 {
  width: 10%;
}

.w-per12p5 {
  width: 12.5%;
}

.w-per20 {
  width: 20%;
}

.w-per25 {
  width: 25%;
}

.w-per40 {
  width: 40%;
}

.w-per50 {
  width: 50%;
}

.w-per60 {
  width: 60%;
}

.w-per75 {
  width: 75%;
}

.w-per80 {
  width: 80%;
}

.w-per100 {
  width: 100%;
}

// border
.border-normal {
  border: 1px solid #f0f0f0;
}

//bg-color
.bg-gray-white {
  background-color: #f5f7f8;
}

.bg-gray-blue {
  background-color: #e9eef3;
}

.bg-white {
  background-color: #ffffff;
}

.center-abs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-auto {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
