// 布局样式

.flex {
  display: flex;
}

.flex-normal {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start
}

.g-main {
  height: 85vh;
}

.g-aside {
  background-color: #282c34;
  overflow: hidden;
  transition:width 0.4s;
}

.g-footer {
  padding: 0px;
}

.g-bg-red{
  background-color: red;
}
.g-bg-yellow{
  background-color: yellow;
}
.g-bg-blue{
  background-color: blue;
}

.g-bg-greenyellow{
  background-color: greenyellow;
}

.g-h-33vh{
  height: 33vh;
}

.g-home{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start
}

.g-home-module{
  border: solid;
  border-width: 10px;
  border-radius: 10px;
  border-color: transparent;
  background-color: white;
  display: flex;
}
