// 元件样式
.u-strong-red {
  color: #c7254e;
}

.u-strong-blue {
  color: blue;
}

.u-strong-yellow {
  color: yellow;
}

.u-strong-green {
  color: green;
}

.u-el-icon:hover {
  color: @ds-primary;
}

.u-el-icon-auqa:hover {
  color: @ds-primary-hover;
}

//图片
.u-img-standard {
  height: 20vw;
}

.u-img-normal {
  height: 50vh;
}

//提示
.u-tip-normal {
  width: 100%;
  color: @color-text-placeholder;
  font-size: 12px;
  line-height: 22px;
}

//图标
.u-icon:hover {
  color: @ds-primary-hover;
}

// 链接
.u-link {
  color: @color-text-normal;
  cursor: pointer;
  text-decoration: underline;
}

.u-link:hover {
  color: @ds-primary;
}

// 按钮
.u-btn {
  cursor: pointer;
  transition: all @ds-duration-base @ds-ease-out;

  &:hover {
    color: @color-icon-hover;
  }

  &:active {
    color: @color-icon-active;
  }
}
